= simple_form_for @extension do |f|
  = f.input :name, :required => true
  = f.input :image, :required => true, :hint => "will be scaled to 240 x 180 "
  = f.input :ruby_gem, :label => "Ruby Gem name"
  - %w(homepage source_code documentation mailing_list).each do |col|
    = f.input col
  = f.button :submit