!!!5
%html.no-js{:dir => "ltr", :lang => "en", :class => 'dark'}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta(name="viewport" content="width=780")
    %link(rel="shortcut icon" type="image/png" href="/images/compass_icon.png")
    %title Compass Extension Repo
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.default{:id => controller_name}
    #wrap
      %header#banner{:role => "banner"}
        %form#search-docs{:action => "/search/", :method => "GET"}
          %input#search{:name => "q", :type => "text", :value => "", :placeholder => "Search the docs"}

        %nav#main-nav{:role => "navigation"}
          %ul
            %li.vcard
              %a.fn.org.url.uid{:href => "/", :rel => "home"} Home
            %li
              %a{:href => "http://compass-style.org", :rel => "documentation"} Reference
            - if user_signed_in?
              %li= link_to "New Extension", new_extension_path
              %li= link_to "My Extensions", extensions_path(:mine => true)
              %li= link_to "Logout", destroy_user_session_path, :method => :delete
            - else
              %li= link_to "Sign in with GitHub", user_omniauth_authorize_path(:github)
      #page
        #docs_panel
          #theme_pref
            %a{:href => "#", :rel => "theme", :title => "switch theme" } Q
        %article{:id => action_name }= yield
      %footer(role="contentinfo")
        = yield :footer
